*.pdf
*.mp4
*.gif
*.mp3
*.jpg
*.JPG
*.png
*.docx
*.xlsx

*.zip
*.pptx
*.csv
*.mkv
*.ptt
*.doc
*.xls
*.tmp
*.ttf
*.jpeg
*.svg
*.eot



 *.env

/laravel/node_modules
/laravel/public/hot
/laravel/public/storage
/laravel/storage/*.key
/laravel/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/laravel/.idea
/laravel/.vscode

